/DREAM3DProj.includes
CMakeLists.txt.user
/Build/
/Build-ninja/
/Build-Xcode/
/zRel/
/CleanBuild/
.cproject
.project
/clang/
/xcode/
/x64/
/i386/
/qtcreator/
/Build2/
/QT_BUILD/
Support/Scripts/GMT/gmt.history
.settings
.floo
/ninja/
/linux/
.idea
/Debug/
.ctags
.vscode
