/DREAM3DProj.includes
CMakeLists.txt.user
/Build/
/Build-ninja/
/Build-Xcode/
/zRel/
/CleanBuild/
.cproject
.project
Source/Plugins/MFESurfaceSmoothing
Source/Plugins/CMUSurfaceMeshing
/clang/
/xcode/
/x64/
/i386/
/qtcreator/
Support/WorkshopData
Support/SmallIN100
/Build2/
/QT_BUILD/
Support/TestData
/qt5/
Support/Scripts/GMT/gmt.history
.settings
.floo
/ninja/
/linux/

