sudo: false
branches:
  only:
    - develop
language: python
python:
    - "2.7"

dist: precise
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    - llvm-toolchain-precise-3.8
    packages:
    - clang-format-3.8
script:
  - cd $TRAVIS_BUILD_DIR
  - ./Support/Scripts/travis/run_clang_format_diff.sh develop $TRAVIS_COMMIT