[project]
	description = The main DREAM3D source code repository
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Mike Jackson (imikejackson)
[access "refs/for/refs/*"]
	read = group user/Mike Jackson (imikejackson)
	push = group user/Mike Jackson (imikejackson)
	label-Code-Review = -2..+2 group user/Mike Jackson (imikejackson)
	label-Verified = -1..+1 group user/Mike Jackson (imikejackson)
	rebase = group user/Mike Jackson (imikejackson)
	removeReviewer = group user/Mike Jackson (imikejackson)
	submit = group user/Mike Jackson (imikejackson)
[access "refs/heads/*"]
	read = group user/Mike Jackson (imikejackson)
	create = group user/Mike Jackson (imikejackson)
	push = +force group user/Mike Jackson (imikejackson)
	pushMerge = group user/Mike Jackson (imikejackson)
[access "refs/tags/*"]
	push = +force group user/Mike Jackson (imikejackson)
	pushTag = group user/Mike Jackson (imikejackson)
	pushSignedTag = group user/Mike Jackson (imikejackson)
