/* Default style for links */
a:active  { color: #0000CC}
a:hover   { color: #CC0033}
a:link    { color: #3366CC}
a:visited { color: #9999CC}

/* Default style */
body
{
  background-color: #FFFFFF;
}

/* Color obsolete pages pale red */
body.obsolete
{
  background-color: #FFCCCC;
}

td
{
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: small;
  text-align: left
}


/* Use this style for footnote numbers */
sup.Footnote
{
}

/* Main content area */
#main
{
   padding-left:10px;
   padding-right:10px;
   padding-bottom:2em;
}

/* Leave a little space between the footer area
 * and the Main area, so it looks like scrolling
 * text disappears before it goes behind the footer. */
#footer_space
{
   position:fixed;
   bottom:0;
   left:0;
   height:2.5em;
   width:100%;
   background-color:#FFFFFF;
}

/* Footer area fixed to the bottom of the screen for
 * most browsers. (For IE6 and earlier, it scrolls.) */
#footer
{
   font-family: Arial, Verdana, Helvetica, sans-serif;
   font-color:Blue;
   font-size:small;
   background-color:#CCCCCC;
   padding:0pt;
   position:fixed;
   bottom:1%;
   left:1%;
   width:98%;
}

#footer a
{
   text-decoration: none;
}

#prevNext
{
   text-align: right;
}

.caution
{
   font-family: Arial, Verdana, Helvetica, sans-serif;
   font-size:medium;
   font-weight:bolder;
   text-align:center;
   color: #990033;
}

/* For links that call the doEclipse action, add an icon in 
 * front of the link. */
a#doEclipse {
   background-image: url(PLUGINS_ROOT/org.eclipse.help/command_link.png);
   background-repeat: no-repeat;
   background-position: left top;
   padding-left: 20px;
}
 
