########################################################################
#
#   Config file for LANL Cu PreShock vol1 z1 from April-2010
#
########################################################################

########################################################################
#     Input and Ouptut
########################################################################
InfileBasename     	 /work/01775/reeju/Cu/Strain0/Reduced/Cu_Strain0_z1_
InfileSerialLength        5
OutfileBasename		  SimData/Cu_Strain0_z1_
OutfileSerialLength       5           #  the number of digit that the serial number can have
OutStructureBasename 	  Cu_Strain0_z1_
BCPeakDetectorOffset      0          # set to 0 for IceNine output files, 1 for xdmmpi
                                     # this is here to ensure that we can use the old reduced d files.
InFileType		bin
OutfileExtension    	bin
InfileExtension         bin #d
########################################################################
#
# Beam Information
#
########################################################################
BeamEnergyWidth            0.5         # 0.02 * E, specified by page 18, Hennessy 
BeamDirection              1 0 0
BeamDeflectionChiLaue      0            # Deviation of the xray beam in the plane of the beam (in radians)
BeamHeight                 0.0012       # Height of the beam
BeamEnergy                 64.351       # in keV
  
########################################################################
#
# Detector Information
#
########################################################################
DetectorFilename  ConfigFiles/Cu_Retiga.2Det
EtaLimit          81

########################################################################
#
#  Data and initialization file
#
#
########################################################################
SampleFilename           DataFiles/720micron_Mask_S0.mic
StructureFilename        DataFiles/Cu.dat
RotationRangeFilename    DataFiles/omega_test_180_2L.dat
FundamentalZoneFilename  DataFiles/MyFZ.dat 	
SampleSymmetry           Cubic
########################################################################
#
#
# Simulation information
#
#
########################################################################
MinAmplitudeFraction   0.25
MaxQ 		       8
MaxInitSideLength      0.005    #g=
MinSideLength          0.005    #g=
########################################################################
#   Search Parameters
########################################################################
LocalOrientationGridRadius    5      # in degrees
MinLocalResolution            0      # level of resolution, i.e., local interpolation     
                                     # points will be about 
                                     # LocalOrientationGridRadius / 2^MinLocalResolution
MaxLocalResolution            2     
MaxAcceptedCost               0.85  # was 65   #  current 1 - confidence -- the cost required to quit early (optimizer)
MaxConvergenceCost            0.0001  #  cost required for early optimization (MC) exit
MaxMCSteps                    3000
MCRadiusScaleFactor           0.4    # Fudge factor used for testing.  To be removed in future release
                                     # This is a scaling of the maximum step size

SuccessiveRestarts            3      # This should really be calculated based on search space volume
                                     # in the future

SecondsBetweenSave            900

########################################################################
#  Parameter Optimization
#
#  Note:   OrientationSearchMethod can be either ConstrainedEuler or UniformSO3
########################################################################
NumParameterOptimizationSteps   2000
NumElementToOptimizePerPE       5
OptimizationFilename            ConfigFiles/Optimization.2Det
DetectionLimitFilename          ConfigFiles/Sensitivity.2Det
ParameterMCInitTemperature      0.001     # Starting temperature of the parameter optimization
OrientationSearchMethod         ConstrainedEuler
CoolingFraction                 0.05      # fraction of time spent on cooling (linearly cooling now)
ThermalizeFraction              0.01     # fraction of time spent thermalizing, i.e., at starting temperature
ParameterRefinements            20        # number of times to refine a parameter

NumDetectors                          2
DetectorSpacing                       0  2.0
DetectorSpacingDeviation              0.010
DetectorOrientationDeviationInEuler   0.5 0.5 .5
DetectorOrientationDeviationInSO3     1

####
# Advanced options
####
ParamMCMaxLocalRestarts               0
ParamMCMaxGlobalRestarts              1000
ParamMCNumGlobalSearchElements        1
ConstrainedOptimization               0   # 1 -- true, 0 -- false
SearchVolumeReductionFactor           4   # scale factor is 4 / pow( nPE-1, 1/3)

########################################################################
#
#  Reconstruction Features  (To be changed to reconstruction pipeline?)
#  This is the section to control the algorithm used for reconstruction
#  and the optimizations to be used.  Note that no argument is used.
#  Simply having the tag means that the function will be ran.  The available
#  tags are:  
#
#  RunParameterOptimization
#  RunReconstruction
#   
########################################################################
#RunParameterOptimization
#RunReconstruction
LazyBFS

########################################################################
#  Obsolete/unimplemented tags
########################################################################
FileNumStart				0
FileNumEnd     				2

########################################################################
#
# Sample Position
#
#  NOTE:  This is not yet implemented!!!
########################################################################
SampleLocation      		0 0 0
SampleOrientation   		0 0 0 # (Changed to y-z configuration )

#ConsistencyError                5.0
#BraggFilterTolerance            0.01
#MaxDeepeningHitRatio            0.80

EnableStrain 0

SampleRadius 0.720
SampleCenter -0.003 -0.035 0.00
MaxDiscreteCandidates 150
MaxDeepeningHitRatio 0.8
MinAccelerationThreshold 0.75
OptimizationConstrainFilename ConfigFiles/Constrain.2L
ConsistencyError 5
BraggFilterTolerance 0.1


# END OF FILE
